body{
    height: 100%;
    margin: 0;
    background: #FFE4E1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white,#FFE4E1); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white,#FFE4E1); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white,#FFE4E1); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white,#FFE4E1); /* Standard syntax */

}


footer{
    background: #FFE4E1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#FFE4E1,white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FFE4E1,white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FFE4E1,white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FFE4E1,white); /* Standard syntax */
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}
.footer{
    text-align: center;
}

footer p{
    display: inline;
    text-align: center;
    color: gray
} 

.align-center{
    text-align: center;
}
.page-header{
    padding-top: 40px;
    padding-bottom: 60px;
    background-image: url("../img/header_flower.jpeg");
    background-position: center;
    background-size: cover;
}


h1, h2, h3, p{
    text-align: center;
}

h3 a{
    color: gray;
}

h3 a:hover{
    text-decoration: none;
    font-weight: bold;
}
.img-rounded{
    border-radius: 180px;
}

ul p{
    text-align: left;
    font-family: Times;
}
.normal{
    font-family: inherit;
    text-align: center;
}


.topic{
    color: darkorange;
    font-family: serif;
    font-weight: bold;
}
ul li ul{
    list-style-type: circle;
    
}


.form{
    text-align: center;
}

label{
    color: #708090;
}

div.img {
        margin: 5px;        
        float: left;
        width: 180px;
}

div.img:hover {
        border: 3px solid #FFDAB9;
}

div.img img {
        width: 100%;
        height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}


